.results-summary {
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.results-summary h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.results-summary p {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.test-results {
  margin-top: 20px;
}

.test-results table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.test-results th,
.test-results td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.test-results th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.test-results tbody tr:hover {
  background-color: #f9f9f9;
}

.test-results ul {
  padding-left: 20px;
}

.test-results ul li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
}

.test-results ul li:before {
  content: "\2022";
  color: #007AFF;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.back {
  padding: 10px 20px;
  background-color: #007AFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.back:hover {
  background-color: #0056B3;
}
