<div class="results-summary">
    <h2>Resultados da avaliação de acessibilidade</h2>
    <p>Total de testes: {{ totalTests }}</p>
    <p>Passados: {{ passedTests }} ({{ percentagePassed | number: '1.2-2' }}%)</p>
    <p>Avisos: {{ warningTests  }} ({{ percentageWarning | number: '1.2-2' }}%)</p>
    <p>Fracassados: {{ failedTests  }} ({{ percentageFailed | number: '1.2-2' }}%)</p>
    <p>Não aplicável: {{ notApplicableTests}} ({{ percentageNotApplicable | number: '1.2-2' }}%)</p>
  </div>

    
  <div class="filters">
    <label>
      Filtrar por tipo:
      <select [(ngModel)]="filterType">
        <option value="">Todos</option>
        <option value="ACT">ACT</option>
        <option value="WCAG">WCAG</option>
      </select>
    </label>
    
    <label>
      Filtrar por resultado:
      <select [(ngModel)]="filterResult">
        <option value="">Todos</option>
        <option value="Passed">Passados</option>
        <option value="Warning">Avisos</option>
        <option value="Failed">Fracassados</option>
        <option value="Not Applicable">Não aplicável</option>
      </select>
    </label>
    
    <label>
      Filtrar por nível:
      <select [(ngModel)]="filterLevel">
        <option value="">Todos</option>
        <option value="A">A</option>
        <option value="AA">AA</option>
        <option value="AAA">AAA</option>
      </select>
    </label>
  </div>
  
  <div class="test-results">
    <table>
      <thead>
        <tr>
          <th>Código de teste</th>
          <th>Descrição</th>
          <th>Resultado</th>
          <th>Nível</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of filteredResults">
          <td>{{ test.code }}</td>
          <td>{{ test.description }}</td>
          <td>{{ test.result }}</td>
          <td>{{ test.level }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
<button class="back" type="button" (click)="goBack()">Voltar</button>